html {
	width: 100%;
	font-family: Oswald, serif;
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	background: url(http://i1030.photobucket.com/albums/y368/JamesMJordan/body_background_zpscbdwfa0o.jpg) no-repeat center center fixed;
    background-size: cover; /* for IE9+, Safari 4.1+, Chrome 3.0+, Firefox 3.6+ */
	-webkit-background-size: cover; /* for Safari 3.0 - 4.0 , Chrome 1.0 - 3.0 */
	-moz-background-size: cover; /* optional for Firefox 3.6 */
	o-background-size: cover; /* for Opera 9.5 */
	margin: 0; /* to remove the default white margin of body */
	padding: 0; /* to remove the default white margin of body */
	overflow: hidden;
}

.container {
	max-width: 1200px;
	text-align: center;
}

.container-fluid {
	width: 100%;
}

.wrapper {
	height: 100%;
}

/* Header and Navigation bar only */

.header {
	background: url(http://i1030.photobucket.com/albums/y368/JamesMJordan/background_zpsluq87zoi.png);
	width: 100%;
	text-align: center;
}

.header img {
	height: 300px;
}

.spacer {
	padding: 25px;
	width: 100%;
	margin: 0 auto;
	background-color: rgba(0,0,0,0);
}

.centered{
    float: none;
    margin: 0 auto;
}

/* Login Area */

.login {
	margin: 100px auto;
}


#input {
	background-color: rgba(0,0,0,0);
	border: 1px solid #e6c401;
	box-shadow: none;
	border-radius: 0px;
	text-align: center;
	display: block;

}

input {
	text-align: center;
}

/* Footer */

.footer {
	margin: 0 auto 0 auto;
	background-color: #000;
	position: relative;
	clear: both;
	position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.footer address {
	text-align: left;
	color: #fff;
	bottom: 0;
	padding: 10px 0px;
}

/* Main body divs */

.hidden {
	visibility: hidden;
}

.home {
	background-color: black;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 50px 0px;
}

.box {
	background-color: red;
	height: 300px;
	width: 200px;
	margin: 0 auto;
	padding: 50px 0px;
}

.coroplast {
	background-color: blue;
}

.banner {
	background-color: green;
}

.pvc {
	background-color: yellow;
}



