@(message: String)

@views.html.main("Signs Your Way") {
<script src=@routes.Assets.versioned("javascripts/banners.js")></script>

<div class="wrapper">
    <div class="container">
        <div class="section-cnt">
            <input type="hidden" id="width" class="required">
            <input type="hidden" id="height" class="required">
            <div class="row clearfix">
                <label>Width</label>
                <div class="col">
                    <input class="small field count msr" type="text" value="0" name="widthft" id="widthft">
                    <div class="counter2" style="background-image: url(&quot;css/images/counter.jpg&quot;);"></div>
                    <span>feet</span>
                </div><!-- /.col -->
                <div class="col">
                    <input class="small field count msr" type="text" value="0" name="widthin" id="widthin">
                    <div class="counter2"></div>
                    <span>inches</span>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row clearfix">
                <label>Height</label>
                <div class="col">
                    <input class="small field count msr" type="text" value="0" name="heightft" id="heightft">
                    <div class="counter2" style="background-image: url(&quot;css/images/counter.jpg&quot;);"></div>
                    <span>feet</span>
                </div><!-- /.col -->
                <div class="col">
                    <input class="small field count msr" type="text" value="0" name="heightin" id="heightin">
                    <div class="counter2"></div>
                    <span>inches</span>
                </div><!-- /.col -->
                <div class="cl"></div><!-- /.cl -->
                <p><small>Price is calculated to the next foot.</small></p>
            </div><!-- /.row -->

            <div class="row clearfix">
                <label>Qty</label>
                <div class="col">
                    <input class="small field count required notab" type="text" value="1" name="qty" id="qty">
                    <div class="counter2" style="background-image: url(&quot;css/images/counter.jpg&quot;);"></div>

                </div><!-- /.col -->
            </div><!-- /.row -->
            <div class="warning red"></div>
            <div><p class="price">Price</p></div>
            <div><a href="/checkout" class="btn">Checkout</a></div>
        </div>
        </div>
    </div>


}