@(message: String)

@main("Signs Your Way") {
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<script src=@routes.Assets.versioned("javascripts/businesscards.js")></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

<div class="wrapper">
    <div class="container">
        <form action="/upload-target" class="dropzone"></form>
        <input type="file" accept="image/*" onchange="loadFile(event)">
        <img id="output"/>
        <div>
            <input type="checkbox" id="doublesided">Would you like them double-sided?<br>
        </div>
         <div>
            <label for="businesscardsqty">Quantity</label>
            <select class="form-control quantity" id="businesscardsqty">
                <option data-price="0.00" value="0">0</option>
                <option data-price="10.00" value="2">250</option>
                <option data-price="15.00" value="3">500</option>
                <option data-price="20.00" value="4">1000</option>
                <option data-price="30.00" value="5">2500</option>
            </select>
        </div>
        <div id="price">Price</div>
        <div><a href="/businesscards" class="btn">Checkout</a></div>
</div>
</div>
}

