<div class="shell">
    <div class="row home">
        <div class="col-lg-4">
            <div class="box" id="coroplastbox">
                <p>Coroplast</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box" id="pvcbox">
                <p>PVC</p>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="box" id="bannerbox">
                <p>Banners</p>
            </div>
        </div>
    </div>
</div>
<div class="shell banner hidden">
</div>
<div class="shell pvc hidden">
</div>
<div class="shell coroplast hidden">
</div>