@(message: String)

@main("Signs Your Way") {

<div class="wrapper">
 <div class="shell">
  <div class="row home">
   <div class="col-lg-4">
    <div class="box" id="coroplastbox">
     <a href=@routes.Messages.product("banners")>BANNERS</a>
    </div>
   </div>
   <div class="col-lg-4">
    <div class="box" id="pvcbox">
     <a href=@routes.Messages.product("businesscards")>Business Cards</a>
    </div>
   </div>
   <div class="col-lg-4">
    <div class="box" id="bannerbox">
     <a href=@routes.Messages.product("coroplast")>COROPLAST</a>
     </div>
   </div>
  </div>
 </div>
 <div class="shell banner hidden">
 </div>
 <div class="shell pvc hidden">
 </div>
 <div class="shell coroplast hidden">
 </div>
 <div class="footer">
 </div>
</div>

}
