@(form: Form[Option[Models.Account]])

@import helper._

@main("Signs Your Way") {

  @helper.form(action = routes.Messages.authenticate){

    <h1>Sign in</h1>
<p>
  <input type="email" name="email" placeholder="Email" id="email" value="test@@test.com">
</p>
<p>
  <input type="password" name="password" id="password" value="Password" placeholder="Password">
</p>
<p>
  <button type="submit" id="loginbutton">Login</button>
</p>

    <p>Not registered?</p><a href="/registration">Click Here</a>
  }
}