@(title: String)(content: Html)(implicit req: play.api.mvc.RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href=@routes.Assets.versioned("stylesheets/main.css")>
        <script type="text/javascript" src="/javascriptRoutes"></script>
    	<link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="@routes.Pricing.javascriptRoutes"></script>
    </head>
    <body>
    <div class="wrapper">
        <div class="spacer container">
        </div>
        <div class="header">
            <div class="container">
                <div class="row">
                    <div class="center-block">
                        <img src="http://i1030.photobucket.com/albums/y368/JamesMJordan/logo_header1_zpstudev3h2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="spacer">
        </div>
        @content
        <div class="spacer">
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pull-left">
                <address>
                    <p>2030 Rockefeller Dr.</p>
                    <p>Ceres, CA 95307</p>
                    <p>"sales,signsyourway.us"</p>
                </address>
                 </div>
                <div class="col-md-4">
                 </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

    @helper.javascriptRouter("jsRoutes")(
    routes.javascript.Pricing.bannerPricing
)
    </body>
</html>
