@(message: String)

@main("Signs Your Way") {

<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="input" placeholder="E-Mail / Username">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="col-lg-4">
            </div>
        </div>
    </div>
</div>

}